/* type */
@import url("https://fonts.googleapis.com/css?family=Mulish:400..1000|Press+Start+2P:400");

/* color palette */
:root {
    --digitalwhite: white;
    --buff: #f2e9e1;
    --linen: #f7f0ea;
    --vinyl: #211d14;
    --carbon: black;
    --ivy: #364e17;
    --pampas: #617830;
    --vermillion: #d14513;
    --denim: #24577c;
    --saffron: #e8941a;
}

body {
    background-color: var(--buff);
    min-height: 100vh;
}

#page-container {
    height: 100%;
    background: url(../assets/bg.png);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Mulish", sans-serif;
    line-height: 1.2;
}

a {
    color: var(--saffron)
}

.smallheader {
    color: var(--vermillion)
}

.navbar-brand {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-link {
    font-family: "Mulish", sans-serif;
}

p {
    font-family: "Mulish", sans-serif;
}

/* navbar */
.bg-body-tertiary {
    background-color: var(--buff) !important;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.2) !important;
    z-index: 999;
}

/* hero content */
.hero {
    height: 92vh;
}

.frame {
    width: 30vw;
    height: 50vh;
    color: var(--digitalwhite);
    background: var(--vinyl);
    border: 15px solid;
    border-left-color: var(--denim);
    border-right-color: var(--vermillion);
    border-top-color: var(--pampas);
    border-bottom-color: var(--saffron);
}

@media (max-width: 950px) {  
    .frame {
        width: 80vw;
        height: 60vh;
    }
}

#pixel-portrait {
    height: 100px;
}

.mx-3.home-svg:hover path {
    fill: #c63500; /* Change fill color on hover */
}

/* typewriter text */
#text {
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
    color: var(--digitalwhite);
    min-height: 80px;
}

#about {
    background-color: var(--linen);
    max-width: 100vw;
}

#head1 {
    font-weight: 600;
    color: var(--saffron); 
}

#head2 {
    font-weight: 1000;
    color: var(--denim); 
 }

#about-text {
    margin-top: 100px;
    margin-left: 50px;
}

#me {
    max-width: 250px;
    border-radius: 50%;
}

@media (max-width: 991px) {  
    #about-text {
        margin-top: 20px;
        margin-left: 0;
    }
}

/* portfolio */
.card {
    border: 0;
}

.card-title {
    color: var(--vermillion)
}

.btn-primary {
    font-family: 'Mulish', sans-serif;
    background-color: var(--pampas);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--ivy);
}

.repo-link:hover svg {
    fill: #db8400;
}

/* contact */
#contact {
    background-color: var(--linen);
    max-width: 800px;
}

#contact-header {
    color: var(--denim)
}

.form-control {
    font-family: "Mulish", sans-serif;
    border-radius: 0;
    border: 0;
    box-shadow: 3px 3px var(--saffron);
}

textarea {
    font-family: "Mulish", sans-serif;
    height: 200px;
    resize: none;
    box-shadow: 3px 3px var(--saffron);
}

/* resume */
#resume {
    background-color: var(--linen);
    max-width: 800px;
}

/* footer */

#footer {
    width: 100%;
    margin-top: auto;
}

#content-wrap {
    flex: 1;
}

#page-container {
    position: relative;
    min-height: 96vh;
}